.movie-container {
	max-width: 12000px;
	margin: 0 auto;
}

.movie-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between
} 

.movie-card {
	height: 300px;
	width: 200px;
}

/* .row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
} */

li {
  list-style-type: none;
}

ul {
  padding: 0;
}